<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <a href="/">Go back</a>
     <form method="Post" action="/">
        <label for="text">Text:</label>
        <input type="text" name="text" id="text">

        <label for="user">Username :</label>
        <input type="text" name="user" id="user">

        <button type="submit"> submit</button>


     </form>
  </body>
</html>
